html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    text-align: center;
}

a {
    color: #1fa6d3;
    font-family: sans-serif;
}

input, textarea, label {
    border: 1px solid #d3d3d3;
    border-left: none;
    padding: 12px 20px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

label {
    color: #7e7e7e;
}
textarea {
    height: 150px;
    box-sizing: border-box;
    resize: none;
    font-family: Arial, Helvetica, sans-serif
}

button {
    border: none;
    color: white;
    background-color: #1fa6d3;
    padding: 12px 20px;
    margin: 4px 2px;
    cursor: pointer;
}

 button:hover {
     background-color: #000;
 }
 nav {
     width:100%;
     background-color: #272727;
 }

 nav a {
     margin: 0;
     width: 130px;
     display: inline-block;
     text-align: center;
 }

 .navDropdown {
   padding: 10px;
   margin: 0;
   display: inline-block;
   cursor: pointer;
 }

 .navDropdown:hover .navDropdownContent, .navDropdownContent:hover .navDropdownContent {
   display: block;
 }

 .navDropdownContent ul,.navDropdownContent li {
   margin: 0;
   padding: 0;
   line-height: 20px;
 }

 .navDropdownContent {
   display: none;
   position: absolute;
   height: auto;
   width: 200px;
   top: 35px;
   left: 140px;
   background-color: #272727;
   z-index: 8;
 }

 .navDropdownContent a {
   display: block;
   padding: 10px 20px;
   width: 160px;
   text-decoration: none;
   text-align: left;
 }

 .navDropdownContent a:hover {
   color: #FFF;
   background-color: #000;
 }

.logo {
    width: 200px;
    height: auto;
    position:absolute;
    right: 0;
    bottom: 0;
}

.description {
  width: 100%;
  padding: 0 40px;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
}

.left, .right {
    width: 50%;
    float: left;
    display: block;
}

#encryptedMessage {
    border: none;
    height:auto;
}

#copyBtn {
    display: none;
}

@media screen and (max-width: 1100px) {
    body {
        min-width: 600px;
    }

    nav a {
        width: 80px;
    }

    .navDropdownContent {
        left: 80px;
    }

    .logo {
        display: none;
    }

    .description {
        margin: 0;
        padding: 0 40px 20px 40px;
        width: auto;
    }

    .left, .right {
        width: 100%;
        /* padding: 20px 5%; */
        position: relative;
    }
}
